.data-table-app {
    header {
        height: 64px;
        display: flex;
        align-items: center;
        padding: 0 16px;
        background: #E91E63;
        color: #fff;

        nav {
            ul {
                padding-left: 0;
                list-style: none;
                display: flex;
                li {
                    margin: 0 16px;
                    a {
                        color: #fff;
                        text-decoration: none;
                        padding: 8px;
                    }
                    a.active {
                        background-color: #fff;
                        color: #E91E63;
                        border-radius: 4px;
                    }

                }
            }
        }
    }
}
