<table class="table">
    <thead>
        <tr>
            <th width="100">Id</th>
            <th>GUID</th>
            <th>Name</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Company</th>
            <th>Date Entry</th>
            <th>Date Exit</th>
            <th>Date First</th>
            <th>Date Recent</th>
            <th>Org. No</th>
            <th>Address 1</th>
            <th>City</th>
            <th>ZIP</th>
            <th>Geo</th>
            <th>PAN</th>
            <th>PIN</th>
            <th>Status</th>
            <th>Fee</th>
            <th>URL</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of tableData">
            <td>{{row.id}}</td>
            <td>{{row.guid}}</td>
            <td>{{row.name}}</td>
            <td>{{row.phone}}</td>
            <td>{{row.email}}</td>
            <td>{{row.company}}</td>
            <td>{{row.date_entry}}</td>
            <td>{{row.date_exit}}</td>
            <td>{{row.date_first}}</td>
            <td>{{row.date_recent}}</td>
            <td>{{row.org_num}}</td>
            <td>{{row.address_1}}</td>
            <td>{{row.city}}</td>
            <td>{{row.zip}}</td>
            <td>{{row.geo}}</td>
            <td>{{row.pan}}</td>
            <td>{{row.pin}}</td>
            <td>{{row.status}}</td>
            <td>{{row.fee}}</td>
            <td>{{row.url}}</td>
            <td><button class="btn-submit" (click)="submitRow(row)">Submit</button></td>
        </tr>
    </tbody>
</table>